@import '../../StyleHelpers/Variables.scss';

.home {
    display: flex;
    flex-direction: column;

    .margin {
        margin-top: 50%;

        @include breakpoint(md) {
            margin-top: 50% !important;
        }

        @include mediumScreen() {
            margin-top: 30% !important;
        }

        @include LargeScreen {
            margin-top: 60% !important;
        }
    }
}