/* @import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400&family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

/* @import "react-alice-carousel/lib/alice-carousel.css"; */

body {
  margin: 0;
  font-family: "Poppins" ;
  background-color: #141414;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: "Poppins" ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}



button {
  background-color: #e50813;
  outline: none;
  border: none;
  color: #fff;
  padding: 12px 20px;
  font-weight: 500;
  font-size: 15px;
 
}

p {
  margin: 0px;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

h5 {
  margin: 0px;
}

h6 {
  margin: 0px;
}

h4 {
  margin: 0px;
}



input:required {
  background-color: black;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c0c0c0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}